@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: flex;
  width: 100%;
}

:root {
  --purple: rgb(100 21 255);
  --dark-navy: rgb(36, 62, 99);
  --light-gray: rgb(124, 139, 161);

  --gradient-teal: linear-gradient(
    to right,
    rgb(56, 178, 172),
    rgb(129, 230, 217)
  );

  --gradient-blue: linear-gradient(
    135deg,
    rgb(76, 81, 191),
    rgb(102, 126, 234)
  );

  --gradient-red: linear-gradient(
    to right,
    rgb(245, 101, 101),
    rgb(254, 178, 178)
  );
}

/* 

COMPONENTS

*/

.action {
  border: none;
  background: none;
  font-size: 1.6rem;
  color: var(--dark-navy);
  cursor: pointer;
}

.button {
  --color: white;
  --background-color: var(--purple);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* Main Style */
  padding: 16px 32px;
  border-radius: 48px;

  font-size: 1rem;
  font-weight: 600;

  color: var(--color);
  background-color: var(--background-color);

  transition: all 350ms ease;

  &:hover {
    background-color: rgb(60 13 153 / 1);
  }

  /* Do Not Delete! - Resets "User Agent Stylesheet" */
  border: none;
  text-decoration: none;
  appearance: none;
}

.button--sm {
  padding: 12px 32px;
  font-size: inherit;
  font-weight: inherit;
}

.button--xs {
  padding: 10px 32px;
  font-size: inherit;
}

.button--orange {
  --background-color: rgb(245, 101, 101);

  &:hover {
    background-color: rgb(229, 62, 62);
  }
}

.button--outlined {
  --background-color: transparent;
  border: 1px solid currentColor;

  &:hover {
    color: var(--purple);
    background-color: white;
  }
}

/* 

  UTILITIES

*/

.u-accent {
  color: var(--purple);
}

.is-visually-hidden {
  display: none;
}

.is-disabled {
  cursor: not-allowed;
}

/* 

  CONTAINERS & STRUCTURE

*/

.container {
  width: min(100%, 1280px);
  margin: 0 auto;
}

.landing {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

/* 

  HEADER

*/

.header {
  padding: 32px;
  display: flex;
  align-items: center;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__brand-logo {
  width: 42px;
}

.header__brand-name {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--dark-navy);
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__list--primary {
  gap: 48px;
}

.header__item {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
}

.header__link {
  letter-spacing: 0.03125rem;
  color: var(--dark-navy);
}

.header__menu-toggle {
  display: none;
}

/* 

  BURGER MENU

*/

.menu {
  transform: translateX(120%);
  display: flex;
  position: absolute;
  inset: 20px 20px auto 20px;
  z-index: 100;

  border: rgb(226, 232, 240) solid 1px;
  background-color: #fff;

  transition: transform 350ms ease-in-out;
}

.menu__inner {
  flex: 1;
  padding: 40px;
}

.menu__nav {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.menu__list--primary {
  display: none;
}

.menu__link {
  letter-spacing: 0.025em;
  color: rgb(26, 32, 44);
}

.menu__close {
  position: absolute;
  inset: 18px 20px auto auto;
}

/* 

  SECTIONS

*/

.section:not(.hero) {
  min-height: max(600px 100vh);
  min-height: max(600px, 100svh);
}

.section {
  min-height: 600px;
  padding: 40px 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
}

.section__split {
  display: flex;
  align-items: center;
  gap: 16px;
}

.section__split--reverse {
  flex-direction: row-reverse;
}

.section__content {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.section__content--primary {
  flex: 0 0 40%;
  gap: 80px;
}

.section__header {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  gap: 16px;
}

.section__header--hero {
  gap: 32px;
}

.section__title {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: var(--purple);
}

.section__subtitle {
  font-size: clamp(2.3rem, 5vw, 3rem);
  font-weight: 900;
  line-height: 1.25;
  color: var(--dark-navy);
}

.section__p {
  max-width: 576px;
  line-height: 1.625;
  font-weight: 400;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  color: var(--light-gray);
}

/* 

  SECTIONS - HERO

*/

.hero {
  flex: 1;
}

.hero__title {
  line-height: 1.2;
  font-size: clamp(1.8rem, 3.8vw, 3rem);
  font-weight: 600;
  color: rgb(26, 32, 44);
}

.hero__p {
  font-size: clamp(1rem, 1.8vw, 1.125rem);
  font-weight: 400;
  color: var(--dark-navy);
}

.hero__form {
  width: 100%;
  max-width: 448px;
}

.hero__field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.hero__input {
  width: 100%;
  height: 68px;
  padding-left: 32px;
  padding-right: 170px;
  border: rgb(226, 232, 240) solid 2px;
  border-radius: 96px;
  font-size: 1rem;

  transition: all 300ms ease;

  &::placeholder {
    font-size: 1rem;
    color: rgb(226, 232, 240);
  }

  &:hover {
    border-color: rgb(169, 173, 179);
  }

  &:focus {
    border-color: var(--purple);
    outline: none;
  }
}

.hero__submit {
  position: absolute;
  right: 0;
  margin-right: 8px;
}

.trusted-customers {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  gap: 16px;
}

.trusted-customers__p {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(160, 174, 192);
}

.trusted-customers__img {
  max-width: 90%;
  opacity: 60%;
}

/* 

  SECTION - FEATURES

*/

.services {
  max-width: 1024px;
  margin-inline: auto;
  padding: 0 24px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  text-align: left;
}

.service {
  padding: 32px 0;
  display: flex;
  gap: 16px;
}

.service__content {
  display: flex;
  align-items: start;
}

.service__icon {
  width: 66px;
  padding: 20px;
  border: rgb(226, 232, 240) solid 1px;
  border-radius: 50%;
}

.service__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.service__title {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-navy);
}

.service__description {
  line-height: 2;
  font-size: 1rem;
  font-weight: 400;
  color: var(--light-gray);
}

/* 

  SECTION - STEPS

*/

.steps__list {
  counter-reset: steps;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.step {
  display: flex;
  gap: 24px;
  counter-increment: steps;

  &:before {
    content: "0" counter(steps);
    line-height: 1;
    font-size: 2.25rem;
    font-weight: 600;
    color: rgb(203 213 224);
  }
}

.step__content {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.step__title {
  line-height: 1.3;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-navy);
}

.step__description {
  line-height: 2;
  font-size: 0.875rem;
  font-weight: 400;
  color: rgb(113 128 150);
}

/* 

  SECTION - VALUES

*/

.values__principles {
  display: flex;
  gap: 32px;
}

.principle {
  --icon-color: rgb(39 103 73);
  --icon-bgc: rgb(154 230 180);

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.principle--red {
  --icon-color: rgb(155 44 44);
  --icon-bgc: rgb(254 178 178);
}

.principle__header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.principle__icon {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  color: var(--icon-color);
  background-color: var(--icon-bgc);
}

.principle__title {
  font-size: 1.25rem;
  color: var(--dark-navy);
}

.principle__description {
  font-size: 1rem;
  color: var(--light-gray);
}

/* 

  SECTION - PRICING

*/

.pricing__plans {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.plan {
  --top-border-color: linear-gradient(white, white);
  --sub-border-color: rgb(226, 232, 240);
  --background-color: linear-gradient(white, white);

  --title-color: black;
  --term-color: rgb(160 174 192);
  --feature-color: var(--light-gray);

  --button-color: black;
  --button-background: #f0f0f0;

  flex: 1;
  display: flex;
  flex-direction: column;

  border-top: 8px solid transparent;
  border-radius: 6px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
  background:
    var(--background-color) padding-box,
    var(--top-border-color) border-box;
}

.plan--personal {
  --top-border-color: var(--gradient-teal);
  --button-color: white;
  --button-background: var(--gradient-teal);
}

.plan--business {
  --top-border-color: var(--gradient-blue);
  --sub-border-color: rgb(102, 126, 234);
  --background-color: var(--gradient-blue);

  --title-color: white;
  --term-color: white;
  --feature-color: white;

  --button-color: var(--purple);
  --button-background: white;

  .plan__button:hover {
    background-color: rgb(230, 230, 230);
  }
}

.plan--enterprise {
  --top-border-color: var(--gradient-red);
  --button-color: white;
  --button-background: var(--gradient-red);
}

.plan__content {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.plan__content--header {
  font-weight: 700;
  gap: 4px;
}

.plan__content--body {
  border-top: 2px solid var(--sub-border-color);
}

.plan__content--footer {
  border-top: 2px solid var(--sub-border-color);
}

.plan__title {
  font-size: 1.25rem;
  color: var(--title-color);
}

.plan__price {
  font-size: clamp(2.25rem, 6vw, 3rem);
  font-weight: 600;
  color: var(--title-color);
}

.plan__term {
  letter-spacing: 0.1em;
  font-size: 1rem;
  color: var(--term-color);
}

.plan__subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--title-color);
}

.plan__features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--feature-color);
}

.plan__button {
  margin: 0 64px;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--button-color);
  background: var(--button-background);

  &:hover {
    transform: translate(2px, -2px);
    box-shadow: -2px 8px 12px 4px rgba(0, 0, 0, 0.1);
  }
}

/* 

  SECTION - TESTIMONIALS

*/

.carousel {
  position: relative;
}

.carousel__items {
  scroll-snap-type: x mandatory;
  overflow-x: auto;

  display: flex;
  gap: 16px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel__functions {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.carousel__action {
  padding: 16px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  color: var(--purple);
  background-color: rgb(237 242 247);

  transition: all 200ms ease;

  &:hover {
    background-color: rgb(200, 200, 200);
  }
}

.testimonial {
  scroll-snap-align: start;

  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.testimonial__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.testimonial__footer {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 16px;
  font: inherit;
  text-align: left;
}

.testimonial__star {
  color: rgb(246 173 85);
}

.testimonial__title {
  font-size: 1.25rem;
  color: var(--dark-navy);
}

.testimonial__comment {
  min-height: 140px;
  font-size: 1rem;
  color: rgb(74 85 104);
}

.testimonial__pfp {
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial__reviewer {
  font-style: normal;
}

.testimonial__name {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--dark-navy);
}

.testimonial__credentials {
  font-weight: 400;
  font-size: 1rem;
  color: var(--light-gray);
}

/* 

  SECTION - FAQS

*/

.faqs__list {
  width: 100%;
  max-width: 896px;
  display: grid;
  flex-direction: column;
  gap: 20px;
}

.faqs__item {
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: rgb(226 232 240);
  gap: 16px;
}

.faqs__question {
  text-align: left;
  font-size: clamp(1.125rem, 2vw, 1.25rem);
  font-weight: 500;
  color: rgb(36, 62, 99);
}

/* 

  LANDING CARD

*/

.landing-card {
  padding: 32px;
  margin: 48px 0;
}

.landing-card__inner {
  min-height: 282px;
  display: flex;
  justify-content: center;
  background-color: var(--purple);
  border-radius: 8px;
  padding: 32px;
}

.landing-card__split {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-card__content {
  flex: 1;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.landing-card__title {
  font-size: clamp(1.5rem, 4vw, 1.875rem);
  font-weight: 600;
  color: #fff;
}

.landing-card__button {
  padding: 20px 40px;
  border: 1px solid white;
  border-radius: 99px;

  font-size: 1rem;
  font-weight: 700;
  color: white;
  background: none;
}

.landing-card__button--primary {
  border: none;
  background-color: rgb(245 101 101);
}

/* 

  FOOTER

*/

.footer {
  padding: 80px 32px;
  color: white;
  background-color: rgb(100 21 255);
}

.footer__grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(auto, 120px));
  gap: 48px;
}

.footer__col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__item {
  font-size: 0.875rem;
}

.footer__link {
  color: white;
  cursor: not-allowed;
}

.footer__divider {
  margin: 64px 0;
  border: 1px solid rgb(116 44 255);
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__brand-logo {
  max-width: 32px;
}

.footer__brand-name {
  font-size: 1.25rem;
  font-weight: 800;
}

.footer__socials {
  display: flex;
  gap: 16px;
}

.footer__socials-link {
  padding: 8px;
  border-radius: 50%;
  color: black;
  background-color: white;
}

/* 

  MEDIA RESPONSIVENESS

*/

@media (max-width: 80rem) {
  .plan__button {
    margin: 0 32px;
  }
}

@media (max-width: 64rem) {
  .hero,
  .testimonials {
    /* Make early breakpoints for hero section. */
    .container--section {
      max-width: 512px;
    }

    .section__split {
      flex-direction: column;
    }

    .section__content {
      align-items: center;
      text-align: center;
      gap: 48px;
    }

    .section__header {
      gap: 20px;
    }
  }

  .header__nav {
    gap: 32px;
  }

  .header__list--primary {
    display: none;
  }

  .header__menu-toggle {
    display: flex;
  }

  .menu--open {
    transform: translateX(0);
  }

  .services {
    max-width: 768px;
    grid-template-columns: 1fr 1fr;
  }

  .values__principles {
    flex-direction: column;
  }

  .pricing__plans {
    max-width: 384px;
    flex-direction: column;
  }

  .landing-card__inner {
    min-height: 332px;
  }

  .landing-card__split {
    max-width: 512px;
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }

  .landing-card__content {
    flex: 0;
  }
}

@media (max-width: 48rem) {
  .container--section {
    max-width: 512px;
  }

  .section__split {
    flex-direction: column;
  }

  .section__content {
    align-items: center;
    text-align: center;
  }

  .header__list {
    display: none;
  }

  .menu__list--primary {
    display: flex;
  }

  .services {
    max-width: 352px;
  }

  .service {
    grid-column: 1 / 3;
  }

  .step {
    flex-direction: column;
    gap: 12px;
  }

  .principle__header {
    justify-content: center;
  }
}

@media (max-width: 42rem) {
  .hero__input {
    padding: 0 32px;
  }

  .hero__submit {
    position: relative;
    margin: 0;
  }

  .services {
    max-width: 336px;
    text-align: center;
  }

  .service {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__footer {
    flex-direction: column;
    text-align: center;
  }

  .carousel__functions {
    position: relative;
  }

  .landing-card__content {
    flex-direction: column;
    gap: 16px;
  }

  .footer__col {
    text-align: center;
  }

  .footer__inner {
    flex-direction: column;
    gap: 32px;
  }
}
