@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

figure {
  display: flex;
}

ul {
    list-style-type: none;
}

.section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}


/* 

    HEADER

*/

