@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* 

    MAIN STRUCTURE & STYLING

*/

:root {
  --header-height: 80px;
  --purple: rgb(100 21 255);
  --dark-navy: rgb(36, 62, 99);
  --light-gray: rgb(124, 139, 161);
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.link-unavailable {
  cursor: not-allowed;
}

.content--color-purple {
  color: var(--purple);
}

.btn {
  border: none;
  border-radius: 36px;
  color: white;
  background-color: var(--purple);
}

/* 

    HEADER - WEBSITE BRAND & NAVIGATION

*/

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: var(--header-height);
}

.brand-wrapper {
  display: flex;
  align-items: center;
}

.brand {
  gap: 18px;
}

.brand__logo {
  width: 42px;
}

.brand__name {
  font-size: 24px;
  font-weight: 800;
  color: rgb(36, 62, 99);
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.nav {
  gap: 36px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: rgb(36, 62, 99);
}

.nav__link--secondary {
  margin-left: 42px;
}

.nav__link--primary {
  padding: 12px 30px;
  border-radius: 36px;
  color: white;
  background-color: rgb(100 21 255);
}

/* 

    SECTION STRUCTURE

*/

.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  min-height: 100vh;
}

.hero-section {
  min-height: calc(100vh - var(--header-height));
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  width: 50%;
}

.hero-content {
  width: 40%;
}

.visual {
  width: 50%;
}

.hero-visual {
  width: 60%;
}

/* 

    HERO SECTION STYLING

*/

.hero h1 {
  font-size: 48px;
  font-weight: 600;
  color: rgb(26, 32, 44);
}

.hero p {
  font-size: 18px;
  font-weight: 300;
  color: var(--dark-navy);
}

.form {
  width: 100%;
  max-width: 440px;
  height: 100%;
  min-height: 120px;
}

.form-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input-wrapper {
  padding: 20px 30px;
  padding-right: 50%;
  border: rgb(226, 232, 240) solid 2px;
  border-radius: 90px;
  outline: none;
  overflow: hidden;
  transition: all 300ms ease;
}

.form input {
  width: 100%;

  &::placeholder {
    font-size: 16px;
    color: rgb(226, 232, 240);
  }

  &:focus {
    border: var(--purple) solid 2px;
  }
}

.hero button {
  position: absolute;
  right: 0;
  width: 40%;
  height: 40px;
}

/* 

    MAIN SECTION STYLING

*/

.section h2 {
  font-size: 16px;
  letter-spacing: 1.6px;
  color: var(--purple);
}

.section h3 {
  font-size: 48px;
  font-weight: 900;
  color: var(--dark-navy);
}

.section p {
  font-size: 18px;
  color: rgb(124, 139, 161);
}
