@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img { 
  display: flex;
  width: 100%;
}

/* 

    MAIN STRUCTURE & STYLING

*/

:root {
  --header-height: 90px;
  --purple: rgb(100 21 255);
  --dark-navy: rgb(36, 62, 99);
  --light-gray: rgb(124, 139, 161);
}

.link-unavailable {
  cursor: not-allowed;
}

.content--color-purple {
  color: var(--purple);
}

.content--align-center {
  text-align: center;
}

.btn {
  width: 9.2rem;
  height: 3rem;

  border: none;
  border-radius: 36px;

  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--purple);
}

/* 

    CONTAINERS & FLEX WRAPPERS

*/

.container {
  width: min(95%, 1280px);
  margin: 0 auto;
}

.flex-row {
  /* Wrap children in a row, centered vertically. */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row--center {
  /* Wrap children in a row, centered vertically & horizontally. */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-col {
  /* Wrap children in a column, centered vertically.  */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-col--center {
  /* Wrap children in a column, centered vertically & horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 

    HEADER - BRAND & NAVIGATION

*/

.header {
  height: var(--header-height);
}

.header-wrapper {
  justify-content: space-between;
  height: 100%;
}

.brand {
  gap: 18px;
}

.brand__logo {
  width: 42px;
}

.brand__name {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--dark-navy);
}

.nav-wrapper {
  gap: 60px;
}

.nav__links--secondary {
  gap: 42px;
}

.nav__links--primary {
  gap: 24px;
}

.nav__link {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--dark-navy);
}

.nav__link--primary {
  padding: 12px 30px;
  border-radius: 36px;
  color: white;
  background-color: rgb(100 21 255);
}

.nav .fa-bars {
  display: none;
  font-size: 30px;
  color: var(--dark-navy);
}

.menu {
  position: absolute;
  inset: 20px 20px auto 20px;
  z-index: 100;

  display: none;
  flex-direction: column;

  padding: 40px;

  border: rgb(226, 232, 240) solid 1px;
  background-color: #fff;
}

.menu__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 30px;
  border: none;
  background: none;
  color: var(--dark-navy);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__links--primary {
  display: none;
}

/* 

    SECTION STRUCTURE

*/

.hero-section {
  height: calc(100vh - var(--header-height));
}

.section {
  height: 100vh;
}

.section-wrapper {
  height: 100%;
  gap: 1rem;
}

.section__content {
  max-width: 50%;
}

.section__content--primary {
  max-width: 40%;
}

.section__content--secondary {
  max-width: 60%;
}

/* 

    HERO SECTION STYLING

*/

.hero__title {
  max-width: 512px;
  font-size: clamp(1.8rem, 5vw, 3rem);
  font-weight: 600;
  line-height: 1.2;
  color: rgb(26, 32, 44);
}

.hero__p {
  max-width: 512px;
  margin: 30px 0;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 400;
  color: var(--dark-navy);
}

.form {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.form__input {
  width: 100%;
  padding: 20px 30px;
  padding-right: 45%;
  font-size: 1rem;
  border: rgb(226, 232, 240) solid 2px;
  border-radius: 80px;

  transition: all 150ms ease;

  &::placeholder {
    font-size: 1rem;
    color: rgb(226, 232, 240);
  }

  &:focus {
    border-color: var(--purple);
    outline: none;
  }
}

.hero-btn {
  position: absolute;
  right: 0;
  margin-right: 7px;
}

.trusted-customers-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 15px;
}

.trusted-customers p {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(160, 174, 192);
}

.trusted-customers img {
  width: 90%;
  opacity: 60%;
}

/* 

    MAIN SECTION STYLING

*/

.section__title {
  font-size: 1rem;
  letter-spacing: .2rem;
  color: var(--purple);
}

.section__subtitle {
  font-size: clamp(2.3rem, 4vw, 3rem);
  font-weight: 900;
  line-height: 1.2;
  color: var(--dark-navy);
}

.section__p {
  font-size: clamp(.8rem, 2vw, 1.1rem);
  color: rgb(124, 139, 161);
}

/* 

  FEATURES SECTION

*/

.services {
  display: grid;
}

.service__item {
  display: flex;
  gap: 15px;
}

.service__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  min-height: 70px;
  border: var(--light-gray) solid 1px;
  border-radius: 50%;
}

/* 

  MEDIA RESPONSIVENESS

*/

@media (max-width: 500px) {
  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hero-btn {
    position: relative;
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .nav__links--primary {
    display: none;
  }

  .menu__links--primary {
    display: flex;
  }

  .section-wrapper {
    flex-direction: column;
  }

  .section__content {
    max-width: 80%;
  }

}

@media (max-width: 1024px) {
  .nav__links--secondary {
    display: none;
  }

  .nav .fa-bars {
    display: flex;
  }

  .menu--open .menu {
    display: flex;
  }
}
