@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* 

    MAIN STRUCTURE & STYLING

*/

:root {
  --header-height: 90px;
  --purple: rgb(100 21 255);
  --dark-navy: rgb(36, 62, 99);
  --light-gray: rgb(124, 139, 161);
}

.container {
  width: min(90%, 1280px);
  margin: 0 auto;
}

.link-unavailable {
  cursor: not-allowed;
}

.content--color-purple {
  color: var(--purple);
}

.content--align-center {
  text-align: center;
}

.btn {
  width: 9.2rem;
  height: 3rem;

  border: none;
  border-radius: 36px;

  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--purple);
}

/* 

    HEADER - WEBSITE BRAND & NAVIGATION

*/

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: var(--header-height);
}

.brand-wrapper,
.nav__links,
.nav-wrapper {
  display: flex;
  align-items: center;
}

.brand {
  gap: 18px;
}

.brand__logo {
  width: 42px;
}

.brand__name {
  font-size: 24px;
  font-weight: 800;
  color: var(--dark-navy);
}

.nav {
  gap: 60px;
}

.nav__links--secondary {
  gap: 42px;
}

.nav__links--primary {
  gap: 24px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--dark-navy);
}

.nav__link--primary {
  padding: 12px 30px;
  border-radius: 36px;
  color: white;
  background-color: rgb(100 21 255);
}

.nav__menu {
  display: none;
  font-size: 30px;
  color: var(--dark-navy);
}

.menu {
  position: absolute;
  inset: 20px 20px auto 20px;
  z-index: 100;

  display: none;
  flex-direction: column;
  justify-content: center;

  padding: 40px;

  border: rgb(226, 232, 240) solid 1px;
  background-color: #fff;
}

.menu__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 30px;
  border: none;
  background: none;
  color: var(--dark-navy);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__links--primary {
  display: none;
}

/* 

    SECTION STRUCTURE

*/

.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.section {
  min-height: 100vh;
}

.hero-section {
  min-height: calc(100vh - var(--header-height));
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  width: clamp(100%, 512px, 50%);
}

.hero-content {
  width: clamp(100%, 512px, 40%);
}

.visual {
  width: clamp(400px, 100%, 50%);
}

.hero-visual {
  width: clamp(400px, 100%, 50%);
}

/* 

    HERO SECTION STYLING

*/

.hero__title {
  font-size: clamp(2.2rem, 6vw, 3rem);
  font-weight: 600;
  line-height: 1.2;
  color: rgb(26, 32, 44);
}

.hero__p {
  margin: 30px 0;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--dark-navy);
}

.form-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.form {
  width: 100%;
  max-width: 400px;
}

.form__input {
  width: 100%;
  padding: 20px 30px;
  padding-right: 45%;
  font-size: 1rem;
  border: rgb(226, 232, 240) solid 2px;
  border-radius: 80px;

  transition: all 150ms ease;

  &::placeholder {
    font-size: 16px;
    color: rgb(226, 232, 240);
  }

  &:focus {
    border-color: var(--purple);
    outline: none;
  }
}

.hero-btn {
  position: absolute;
  right: 0;
  margin-right: 7px;
}

.trusted-customers-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 15px;
}

.trusted-customers p {
  display: flex;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(160, 174, 192);
}

.trusted-customers img {
  width: 90%;
  opacity: 60%;
}

/* 

    MAIN SECTION STYLING

*/

.content h2 {
  font-size: 16px;
  letter-spacing: 1.6px;
  color: var(--purple);
}

.content h3 {
  font-size: 48px;
  font-weight: 900;
  color: var(--dark-navy);
}

.content p {
  font-size: 18px;
  color: rgb(124, 139, 161);
}

.services {
  display: grid;
}

.service__item {
  display: flex;
  gap: 15px;
}

.service__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  min-height: 70px;
  border: var(--light-gray) solid 1px;
  border-radius: 50%;
}

@media (max-width: 500px) {
  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hero-btn {
    position: relative;
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .nav__links--primary {
    display: none;
  }

  .menu__links--primary {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .nav__links--secondary {
    display: none;
  }

  .nav__menu {
    display: flex;
  }

  .menu--open .menu {
    display: flex;
  }

  .section-wrapper {
    flex-direction: column;
  }

  .content-wrapper {
    text-align: center;
    align-items: center;
  }
}
